body {
	/*background: transparent url(../images/bg.jpg) repeat-y top left; */
	/*background-color: #160A02;*/
	/*width: 100%;*/
	font-family: "Lucida Sans",arial,helvetica,clean,sans-serif;
	font-size: 13px;
	line-height: 15px;
	color: #160A02; /* tapa brown*/
	width: 100%;
}


h1{
	/*background: transparent url(../images/bg.jpg) repeat-y top left; */
	font-family: "Courier New", Courier, "Anadale Mono", monospace;
	font-size: 26px;
	color: #FECD07; /* tapa gold*/
	line-height: 28px;		
}

h2{
    font-family: "Courier New", Courier, "Anadale Mono", monospace;
	font-size: 36px;
    font-weight: normal;
    margin-left:  -24px;
	color: #FECD07; /* tapa gold*/
    /*padding-bottom: 26px;
	line-height: 38px;*/	
}

.tapatxt {
    margin-left: 450px;
    width: 640px;
}
p.statement{
	font-family: "Courier New", Courier, "Anadale Mono", monospace;
	text-align: left;
	
	/*line-height: 1.2em;  */
	color: #160A02; /* tapa brown*/
	}
	
p.address {
	padding-top: 75px;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #000 ;
	line-height: 115%;
}

.mainpic {
	border: 10px solid #160A02;
    margin-top: 15px;
    }






